<div class="container">
    <h1>Employee list</h1>
    
<div class="class">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">idade</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of employeeData">
            <td>{{ row.firstName }}</td>
            <td>{{ row.lastName }}</td>
            <td>{{ row.age }}</td>
            <td>{{ row.email }}</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
</div>