<!-- esse é o componente pai -->

<!-- <app-parent-data [name]="userName" [ultimoNome]="lastName" [joaquinDaDosDele]="userData" [paisDoJoaquin]="parentData"></app-parent-data>  -->
<!-- O 'name' é como vou chamar ele no component filho
o 'userName', é como estou chamando no component pai -->

<!-- <app-directives [directiveClass]=""></app-directives> -->

<h1>header</h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/if">IF</a>
    <a [routerLink]="[ '/list']">list</a>
</nav>
<router-outlet></router-outlet>

<h1>footer</h1>
